<div class="container" id="content-wrapper">

  <div id='about_section'>
    <div class="center-section">
      <div class="main-presentation">
        <div class="left-presentation">
          <h2>Bonjour</h2>
          <h3>C'est Pierre Libran</h3>
          <div class="paragraph">
            <p>Je suis un <strong>développeur full-stack</strong> spécialisé en <strong>Ruby on Rails</strong>.<br> J'ai suivi la formation "Concepteur Développeur d'Applications Web" chez Le Wagon Lyon, où j'ai pu transformer ma passion en compétences concrètes.</p>
          </div>
          <ul>
            <li>Ruby on Rails</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PostgreSQL</li>
            <li>Java</li>
            <li>ActiveRecord</li>
          </ul>
        </div>
        <div class="right-presentation">
          <%= image_tag "portfolio_pierre_desk_II.jpg", alt: "Photo", class: "photo" %>
        </div>
      </div>
      <div class="secondary-presentation">
        <div class="top-secondary-presentation">
          <%= image_tag "portfolio_pierre_profile.jpg", alt: "Avatar", class: "avatar" %>
          <p>Je suis une personne calme, rigoureuse, et attentive aux détails. Ce qui me fascine dans le développement web, c'est la possibilité de <strong>créer des solutions innovantes</strong> et de <strong>donner vie à des idées à travers le code</strong>. J'aime le fait de pouvoir résoudre des problèmes complexes, construire des applications utiles, et voir directement l'impact de mon travail.</p>
        </div>
        <div>
          <div class="bottom-secondary-presentation">
            <%= link_to "VOIR MES PROJETS",'#projects_section', class:"white-btn large-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="projects_section">
    <div class="center-section">
        <div class="c-inner">
          <div id="project_1" class="c-item"  style="display: block;">
            <div>
              <div class="d-flex justify-content-end">
                <h4>
                  <strong>Projet</strong>
                  <strong>1</strong>
                  <span class="project-link" onclick="showProject(2)">2</span>
                  <span class="project-link" onclick="showProject(3)">3</span>
                </h4>
              </div>
              <div class="top-project">
                <div class="left-presentation">
                  <%= image_tag "Projet1.1.png", alt: "Photo", class: "image", onclick: "openModal('#{asset_path('Projet1.1.png')}')" %>
                </div>
                <div class="right-presentation">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <h5>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                        <strong>FLASHCARD WARS</strong>
                        </h5>
                    </div>
                  </div>
                  <div>
                    <p>Flash Card Wars est <strong>une application ludique</strong> créée pour les étudiants du Wagon afin de mémoriser les leçons via des flashcards interactives et des défis entre camarades.</p><br>
                    <p>J’ai travaillé sur le <strong>back-end en Ruby on Rails</strong> et <strong>l’intégration front-end,</strong> ainsi que sur <strong>la logique de jeu.</strong></p>
                  </div>
                </div>
              </div>
              <div class="middle-project">
                <p><strong>Où suis-je</strong> dans le Working process?</p>
                <ul class="progress-bar">
                  <li class="grey-frame">Recherche</li>
                  <li class="grey-frame">Wireframing</li>
                  <li class="grey-frame">Design</li>
                  <li class="grey-frame">Development</li>
                  <li class="grey-frame">Testing</li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li></li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="bottom-project">
                <%= image_tag "Projet1.2.png", alt: "Photo", class: "image0" %>
              </div>
            </div>
          </div>

          <div id="project_2" class="c-item"  style="display: none;">
            <div>
              <div class="d-flex justify-content-end">
                <h4>
                  <strong>Projet</strong>
                  <span class="project-link" onclick="showProject(1)">1</span>
                  <strong>2</strong>
                  <span class="project-link" onclick="showProject(3)">3</span>
                </h4>
              </div>
              <div class="top-project">
                <div class="left-presentation">
                  <%= image_tag "Projet2.1.png", alt: "Photo", class: "image", onclick: "openModal('#{asset_path('Projet2.1.png')}')" %>
                </div>
                <div class="right-presentation">
                  <div class="d-flex justify-content-between">
                    <h5>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                      <strong>EMOJILAND</strong>
                    </h5>
                    <%# <%= link_to "https://github.com/ClarisseFab/-emojiland", target: "_blank" do %>
                      <%# <p class="white-btn large-btn">VOIR LE CODE on GITHUB</p> %>
                    <%# <% end %>
                  </div>
                  <div>
                    <p>Emoji Land est un projet développé en équipe de 4 : <strong>une marketplace</strong> permettant aux créateurs de vendre leurs émojis uniques et aux utilisateurs d’en acheter pour enrichir leur communication digitale.<p><br>
                    <p>J’y ai contribué en tant que développeur, en travaillant sur <strong>l’architecture du site, l’optimisation de l’expérience utilisateur et le back-end.</strong></p>
                  </div>
                </div>
              </div>
              <div class="middle-project">
                <p><strong>Où suis-je</strong> dans le Working process?</p>
                <ul class="progress-bar">
                  <li class="grey-frame">Recherche</li>
                  <li class="grey-frame">Wireframing</li>
                  <li class="grey-frame">Design</li>
                  <li class="grey-frame">Development</li>
                  <li class="grey-frame">Testing</li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="bottom-project">
                <%= image_tag "Projet2.2.png", alt: "Photo", class: "image0" %>
              </div>
            </div>
          </div>

          <div id="project_3" class="c-item" style="display: none;">
            <div>
              <div class="d-flex justify-content-end">
                <h4>
                  <strong>Projet</strong>
                  <span class="project-link" onclick="showProject(1)">1</span>
                  <span class="project-link" onclick="showProject(2)">2</span>
                  <strong>3</strong>
                </h4>
              </div>
              <div class="top-project">
                <div class="left-presentation">
                  <%= image_tag "Projet3.1.png", alt: "Photo", class: "image", onclick: "openModal('#{asset_path('Projet3.1.png')}')" %>
                </div>
                <div class="right-presentation">
                  <div class="d-flex justify-content-between">
                    <h5>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                      <strong>SITE WEB - <a href="https://www.thelittlefirefly.co.uk/en" target="_blank">The Little Firefly</a></strong>
                    </h5>
                    <%# <%= link_to "https://github.com/RyoSaeba35/Portefolio", target: "_blank" do %>
                      <%# <p class="white-btn large-btn">VOIR LE CODE on GITHUB</p> %>
                    <%# <% end %>
                  </div>
                  <div>
                    <p>The Little Firefly est un site que <strong>j’ai conçu et développé</strong> pour guider celles et ceux qui rêvent de voyager ou de s’installer au Royaume-Uni. Fort de 9 années d’expérience à Londres, j’y partage conseils pratiques, bonnes adresses et astuces locales.</p><br>
                    <p>Un projet qui <strong>combine ma passion pour le développement web, l’expérience utilisateur et la création de contenu.</strong></p><br>
                  </div>
                </div>
              </div>
              <div class="middle-project">
                <p><strong>Où suis-je</strong> dans le Working process?</p>
                <ul class="progress-bar" >
                  <li class="grey-frame">Recherche</li>
                  <li class="grey-frame">Wireframing</li>
                  <li class="grey-frame">Design</li>
                  <li class="grey-frame">Development</li>
                  <li class="grey-frame">Testing</li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                  <li>
                    <div class="outer-circle">
                      <div class="inner-circle"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="bottom-project">
                <%= image_tag "Projet3.2.png", alt: "Photo", class: "image0" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div id="contact_section">
    <div class="center-section">
      <div class="top-contact">
        <p>Merci d'avoir pris le temps de parcourir mon site jusqu'à la fin.</p>
        <p><strong>Si</strong> vous recherchez <strong>un talent responsable</strong> et <strong>motivé</strong> à évoluer au sein de votre entreprise, <strong>je suis prêt à relever le défi.</strong></p>
      </div>
      <div class="bottom-contact">
        <h6>Let's have a chat :)</h6>
        <%= render 'shared/contact_form' %>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/modal' %>
