<div class="container">

  <div id='about_section'>
    <div class="center-section">
      <div class="main-presentation">
        <div class="left-presentation">
          <h2>Hello</h2>
          <h3>C'est Pierre Libran</h3>
          <div class="paragraph">
            <p>Je suis un <strong>développeur full-stack</strong> spécialisé en <strong>Ruby on Rails</strong>. J'ai suivi la formation "Concepteur Développeur d'Applications Web" chez Le Wagon Lyon, où j'ai pu transformer ma passion en compétences concrètes.</p>
          </div>
          <ul>
            <li>Ruby on Rails</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="right-presentation">
          <%= image_tag "profile.jpg", alt: "Photo", class: "photo" %>
        </div>
      </div>
      <div class="secondary-presentation">
        <div class="top-secondary-presentation">
          <%= image_tag "profile.jpg", alt: "Photo", class: "avatar" %>
          <p>Je suis une personne calme, rigoureuse, et attentive aux détails. Ce qui me fascine dans le développement web, c'est la possibilité de <strong>créer des solutions innovantes</strong> et de <strong>donner vie à des idées à travers le code</strong>. J'aime le fait de pouvoir résoudre des problèmes complexes, construire des applications utiles, et voir directement l'impact de mon travail.</p>
        </div>
        <div>
          <div class="bottom-secondary-presentation">
            <%= link_to "VOIR MES PROJETS",'#projects_section' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact_section">
    <div class="center-section">
      <div class="top-contact">
        <p>Merci d'avoir pris le temps de parcourir mon site jusqu'à la fin.</p>
        <p><strong>Si</strong> vous recherchez <strong>un talent responsable</strong> et <strong>motivé</strong> à évoluer au sein de votre entreprise, <strong>je suis prêt à relever le défi.</strong></p>
      </div>
      <div class="bottom-contact">
        <h2>Let's have a chat :)</h2>
        <div class="form">
          <%= simple_form_for :contact, url: contacts_path, method: :post do |f| %>
            <div class="form-group-one">
              <div class="form-group">
                <%= f.input :name, label: "", placeholder: "Votre nom et prénom", required: true %>
              </div>
              <div class="form-group">
                <%= f.input :email, label: "", placeholder: "Votre adresse mail", required: true %>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :message, as: :text, label: "", placeholder: "Message", required: true %>
            </div>
            <div class="form-group-btn">
              <%= f.button :submit, "Envoyer", class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>

</div>
