<div class="container">

  <div id='about_section'>
    <div class="presentation">
      <div class="main-presentation">
        <div>
          <h2>Hello</h2>
          <h3>C'est Pierre Libran</h3>
          <div class="paragraph">
            <p>Je suis un développeur full-stack spécialisé en Ruby on Rails. J'ai suivi la formation "Concepteur Développeur d'Applications Web" chez Le Wagon Lyon, où j'ai pu transformer ma passion en compétences concrètes.</p>
          </div>
          <div>
            <ul>
              <li>Ruby on Rails</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
        <div>
          <%= image_tag "profile.jpg", alt: "Photo", class: "" %>
        </div>
      </div>
      <div class="secondary-presentation">
        <div>
          <%= image_tag "profile.jpg", alt: "Photo", class: "" %>
          <p>Je suis une personne calme, rigoureuse, et attentive aux détails. Ce qui me fascine dans le développement web, c'est la possibilité de créer des solutions innovantes et de donner vie à des idées à travers le code. J'aime le fait de pouvoir résoudre des problèmes complexes, construire des applications utiles, et voir directement l'impact de mon travail.</p>
        </div>
        <div>
          <div>
            <%= link_to 'VOIR MES PROJETS', '#projects_section' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact_section">
    <div>
      <p>Merci d'avoir pris le temps de parcourir mon site jusqu'à la fin.</p>
      <p>Si vous recherchez un talent responsable et motivé à évoluer au sein de votre entreprise, je suis prêt à relever le défi.</p>
    </div>
    <div>
      <h2>Let's have a chat</h2>
      <div class="form">
        <%= simple_form_for :contact, url: contacts_path, method: :post do |f| %>
            <div class="form-group">
              <%= f.input :name, label: "Nom", required: true %>
            </div>
            <div class="form-group">
              <%= f.input :email, label: "Email", required: true %>
            </div>
          <div class="form-group">
            <%= f.input :message, as: :text, label: "Message", placeholder: "Écrivez votre message ici...", required: true %>
          </div>
          <div class="form-group-btn">
            <%= f.button :submit, "Envoyer", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
    </div>

</div>
